<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIvyInterview</title>
    <link rel="stylesheet" href="{% static "styles/record_audio.css" %}">
</head>
<body>
    <header>
        <h2 class="logo">AIvyInterview</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
    </header>
    <section class="home" id="home">
        <h1>Record Answer</h1>
        <br>
        <button id="recordButton">Record</button>
        <span>&nbsp;</span>
        <button id="stopButton" disabled>Stop</button>
        <div id="recordingsList"></div>
        <br>
        <button id="FinishTest" onclick="window.location.href='/play_audio'"> Next Question </button>
        <br>
        <br>
        <button id="FinishTest" onclick="window.location.href='/results'"> Finish AIvyInterview </button>
    </section>
    <script>

        function getCSRFToken() {
            const cookieValue = document.cookie.match(/csrftoken=([^;]+)/);
            return cookieValue ? cookieValue[1] : null;
        }

        function convertSpeechToText(blob) {
            const recognition = new webkitSpeechRecognition();
            recognition.lang = 'en-US'; 
            recognition.onresult = (event) /=> {
                const transcript = event.results[0][0].transcript; 
                console.log(transcript)
                sendTextToBackend(transcript); 
            };
            recognition.onerror = (event) => {
                console.error('Speech recognition error:', event.error);
            };
            recognition.onend = () => {
                console.log('Speech recognition ended.');
            };

            const audioURL = URL.createObjectURL(blob);

            recognition.src = audioURL;
            recognition.start();
        }

        function sendTextToBackend(text) {
            const formData = new FormData();
            formData.append('text', text);
            formData.append('csrfmiddlewaretoken', getCSRFToken());

            fetch('/process_text/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCSRFToken()
                }
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }

        let mediaRecorder;
        let audioChunks = [];

        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                
                mediaRecorder.ondataavailable = event => {
                    audioChunks.push(event.data);
                };

                mediaRecorder.onstop = () => {
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                    convertSpeechToText(audioBlob); 
                    audioChunks = [];
                };
            })
            .catch(error => console.error('Error accessing user media:', error));

        document.getElementById('recordButton').addEventListener('click', () => {
            mediaRecorder.start();
            document.getElementById('recordButton').disabled = true;
            document.getElementById('stopButton').disabled = false;
        });

        document.getElementById('stopButton').addEventListener('click', () => {
            mediaRecorder.stop();
            document.getElementById('recordButton').disabled = false;
            document.getElementById('stopButton').disabled = true;
        });
    </script>
</body>
</html>
